@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-image {
    background-image: url('/img/doktor_giris.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}
 
[x-cloak] { display: none; }

/* ckeditor */
div.ck-editor__editable p {
    @apply py-2;
}

div.ck-editor__editable h2 {
    @apply text-2xl; 
    @apply font-extrabold;
    @apply text-black;
    @apply mt-6;
    @apply mb-2;
    @apply border-b-2;
    @apply border-indigo-700;
}

div.ck-editor__editable h3 {
    @apply text-2xl; 
    @apply font-bold;
    @apply mt-4;
    @apply text-indigo-700;
}

div.ck-editor__editable h4 {
    @apply text-xl; 
    @apply font-bold;
    @apply mt-2;
    @apply text-black;
}

div.ck-editor__editable a {
    @apply text-blue-600;
    cursor: pointer;
    @apply hover:text-blue-800;
}

.ck-editor__editable {
    @apply text-lg; 
    @apply text-gray-700;
}

.ck-editor__editable ul {
    @apply list-disc; 
    @apply my-2;
    @apply list-inside;
}

.ck-editor__editable ol {
    @apply list-decimal; 
    @apply my-2;
    @apply list-inside;
}
/* ckeditor end */
.bg-whatsapp {
    background-color: #7ad06d;
}

