@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-image {
    background-image: url('/img/doktor_giris.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

[x-cloak] {
    display: none;
}

/* ckeditor */

div.ck-editor__editable p {
    @apply py-2;
}

div.ck-editor__editable h2 {
    @apply text-2xl;
    @apply font-extrabold;
    @apply text-black;
    @apply mt-6;
    @apply mb-2;
    @apply border-b-2;
    @apply border-indigo-700;
}

div.ck-editor__editable h3 {
    @apply text-2xl;
    @apply font-bold;
    @apply mt-4;
    @apply text-indigo-700;
}

div.ck-editor__editable h4 {
    @apply text-xl;
    @apply font-bold;
    @apply mt-2;
    @apply text-black;
}

div.ck-editor__editable a {
    @apply text-blue-600;
    cursor: pointer;
    @apply hover:text-blue-800;
}

.ck-editor__editable {
    @apply text-lg;
    @apply text-gray-700;
}

.ck-editor__editable ul {
    @apply list-disc;
    @apply my-2;
    @apply list-inside;
}

.ck-editor__editable ol {
    @apply list-decimal;
    @apply my-2;
    @apply list-inside;
}

/* ckeditor end */

.bg-whatsapp {
    background-color: #009900;
}

.bg-rhinoplasty {
    background: #d5d6d5;
    background-repeat: no-repeat;
    background-size: contain cover;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

@media (min-width: 1024px) {
    section {
        padding-left: 2.25rem;
    }
}

.bg-red-pattern {
    background-image: url("/img/red-pattern.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.bg-blue-pattern {
    background-image: url("/img/blue-pattern.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.bg-profile {
    background-image: url("/img/bg-profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.cssanimation {
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.fadeInBottom {
    animation-name: fadeInBottom
}

@keyframes fadeInBottom {
    from {
        opacity: 0.5;
        transform: translateX(100%);
    }
    to {
        opacity: 1
    }
}

.bg-soft-gray {
    background-color: #ededed;
}

.text-soft-gray {
    color: #ededed;
}

.fadeInBottomPen {
    animation-name: fadeInBottomPen
}

@keyframes fadeInBottomPen {
    from {
        opacity: 0;
        transform: translateY(200%);
        transform: translateX(300%);
    }
    to {
        opacity: 0.8
    }
}

.scale {
    animation: crescendo 1.5s alternate ease-in-out;
}

@keyframes crescendo {
    0% {
        transform: scale(.1);
    }
    100% {
        transform: scale(1);
    }
}

.animation-opacity {
    animation: change-opacity 2.5s alternate ease-in-out;
}

@keyframes change-opacity {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1
    }
}

.initial-glass {
    transform: translateX(80%) translateY(-80%) rotate(45deg);
}

.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 200px;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 200px;
}

.bounce {
    animation: bounce 2.5s infinite ease-in-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* purgecss start ignore */

.bg-primary {
    background-color: #DE9051;
}

.bg-secondary {
    background-color: #F59F58;
}

.bg-third {
    background-color: #D9955D;
}

.bg-fourth {
    background-color: #CF864A;
}

.nav-gradient {
    background: linear-gradient(#003049, white);
}

/* purgecss end ignore */

.text-orange {
    color: #f77f00;
}

.text-light-orange {
    color: #fcbf49
}

.text-extralight-orange {
    color: #eae2b7
}

.bg-about-profile {
    background: url("/img/about-background.jpg") no-repeat center center;
    background-size: cover;
}

.bg-soft-gray-height {
    height: 40rem;
}

@media (max-width: 375px) {
    .bg-soft-gray-height {
        height: 34rem;
    }
}

@media (max-width: 375px) {
    .bg-soft-gray-height {
        height: 30rem;
    }
}

iframe {
    overflow: hidden;
}

/* embed youtube  */

.embed-youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}

.embed-youtube img {
    width: 100%;
    top: -16.84%;
    left: 0;
    opacity: 0.7;
}

.embed-youtube .embed-youtube-play {
    width: 68px;
    height: 48px;
    background-color: #333;
    box-shadow: 0 0 30px rgba( 0, 0, 0, 0.6);
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}

.embed-youtube .embed-youtube-play:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}

.embed-youtube img, .embed-youtube .embed-youtube-play {
    cursor: pointer;
}

.embed-youtube img, .embed-youtube iframe, .embed-youtube .embed-youtube-play, .embed-youtube .embed-youtube-play:before {
    position: absolute;
}

.embed-youtube .embed-youtube-play, .embed-youtube .embed-youtube-play:before {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0);
}

.embed-youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.embed-youtube .embed-youtube-play:hover {
    background-color: #f00;
}

/* end embed youtube  */

/* multile select */
.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path, .svg-icon polygon, .svg-icon rect {
    fill: #333;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}
/* end multiple select */